*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;
}

:root {
    --gradient: linear-gradient(207.03deg, #063CFF 0%, #FF06F5 100%);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.hover {
    transition: 250ms;
}

.hover:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4);
}

/* Nav styles */
header {
    padding: 25px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.hamburger__container {
    max-width: 35rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
}

.hamburger {
    cursor: pointer;
}

.hamburger__line {
    background-color: white;
    box-shadow: 1px 1px 5px black;
    height: 3px;
    width: 30px;
    transition: 300ms ease-out;
    transform-origin: center right;
}

.hamburger:hover > .top {
    transform:scaleX(1.8);
}

.hamburger:hover > .mid {
    transform: scaleX(1.4);
}

.hamburger:hover > .bottom {
    transform: scaleX(1.2);
}

.mt {
    margin-top: 5px;
}

.backing {
    transition: 300ms;
    background: var(--gradient);
    box-shadow: 1px 1px 2px black;
}

nav {
    position: absolute;
    background-color: white;
    color:black;
    padding: 15px;
    border-radius: 0.7em;
    bottom: -170px;
    right: 0;
    box-shadow: 1px 1px 5px black;
    text-align: center;
    font-size: 1.4em;
    opacity: 0;
    transform: translateY(-35px);
    transition: 150ms;
    pointer-events: none;
    white-space: nowrap;
}

nav ul {
    list-style: none;
}

nav ul li a {
    color: black;
    transition: 250ms;
}

nav ul li a:hover {
    color: #FF06F5;
}

.open {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

/* Hero styles */
.hero {
    padding-top: 70px;
    padding-bottom: 30px;
    color: white;
    padding-inline: 25px;
    max-width: 35rem;
    margin: 0 auto;
}

.hero__container {
    background: var(--gradient);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hero > div {
    text-shadow: 2px 2px 2px black;
}

.hero__name {
    font-size: 3em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero__position {
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    text-shadow: 2px 2px 5 black;
    margin-bottom: 15px;
}

.hero__greeting {
    font-size: 1.5em;
    text-align: end;
    padding-right: 25px;
    margin-bottom: 10px;
}

.hero__btn-container {
    display: flex;
    justify-content: end;
}

.hero__btn {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid white;
    color: white;
    padding: 0.4em 0.7em;
    border-radius: 0.7em;
    font-size: 1.2em;
    cursor: pointer;
}

/* About styles */
.container {
    max-width: 35rem;
    margin: 0 auto;
    padding-inline: 25px;
    padding: 35px 25px 0 25px;
}

.title {
    font-size: 2em;
    font-weight: 600;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100px;
    height: 35px;
    clip-path: polygon(50% 80%, 75% 50%, 100% 80%, 100% 95%, 75% 65%, 50% 95%, 25% 65%, 0 95%, 0 80%, 25% 50%);
}

.about__underline::after {
    background: var(--gradient);
}

.section-text {
    font-size: 1.2em;
    margin-top: 25px;
}

.about__btn-container {
    display: flex;
    justify-content: end;
}

.about__btn {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid black;
    color: black;
    /* #4c1f9e <- alt purple color */ 
    padding: 0.4em 0.7em;
    margin-top: 1.9rem;
    border-radius: 0.7em;
    font-size: 1.2em;
    cursor: pointer;
}

/* Projects styles */
.wave-projects-top {
    aspect-ratio: 1000/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/wave-projects-top.svg');
}

.projects {
    background-color: #7b3def;
    color: white;
}

.projects__underline::after {
    background: #e734ed;
}

.projects__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    margin-top: 25px;
    max-width: 35rem;
}

.project:nth-child(even) {
    grid-column-end: 5;
}

.project {
    grid-column: span 3;
    
    background-color: black;
    aspect-ratio: 2/1;
    border-radius: 15px;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.project h3 {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 4px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.7rem;
}

.one {
    background-image: url('./assets/01.jpg');
}

.two {
    background-image: url('./assets/02.png');
}

.three {
    background-image: url('./assets/03.png');
}

.four {
    background-image: url('./assets/04.png');
}

.projects__github {
    text-align: center;
    font-size: 1.25em;
    margin-top: 2rem;
    text-shadow: 0px 0px 7px black;
}

.projects__github a {
    text-decoration: underline;
    color: white;
    position: relative;
}

.projects__github a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% + 2px);
    transform: scaleX(0);
    transform-origin: right;
    background-color: #e734ed;
    bottom: 5px;
    left: -1px;
    transition: transform 300ms;
}

.projects__github a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Resume styles */
.wave-resume-top {
    aspect-ratio: 1000/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/wave-resume-top.svg');
}

.resume {
    background-color: #d244e8;
    color: white;
    padding-bottom: 30px;
}

.resume__underline::after {
    background-color: #7b3def;
}

.wave-resume-bottom {
    aspect-ratio: 1000/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/wave-resume-bottom.svg');
}

/* Footer styles */
footer {
    background-color: #7b3def;
    color: white;
    padding-block: 15px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer p {
    width: 90%;
    max-width: 35rem;
    padding-inline: 25px;
    text-align: center;
}

.heart {
    color: #FF06F5;
}